body {
    background-color: #0a192f;
    padding: 20px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

nav h1 {
    border: 3px solid #3b9c96;
    padding: 5px 10px;
    color: #3b9c96;
}

nav ul {
    list-style-type: none;
    margin-left: auto;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li a span {
    color: #3b9c96;
    margin-right: 7px;
}

nav ul li a {
    text-decoration: none;
    color: #9eacc3;
}